h1
	{
	font-size: 50px;
	}
	
.home
	{
	text-decoration: none;
	font-size: 25px;
	position: absolute;
	top: 55;
	right: 40;
	}
	
.week tr > td
	{
	border-radius: 90px;
	text-align: center;
	}
	
.week tr:last-child > td
	{
	padding: 0px 1.5px 0px 1px;
	text-align: center;
	}

td.tab.active
	{
	padding: 0px 1.5px 0px 1px;
	text-align: center;
	background: #8B008B;
	color: #DCDCDC;
	}

.week
	{
	margin: 0px 0px 0px -15px;
	font-size: 150%;
	border-spacing: 17px 10px;
	}

.day
	{
	position: relative;
	top: -17;
	color: #696969;
	}

.desc tr > td
	{
	padding: 5px 0px 5px 0px;
	}

.desc tr > td:first-child
	{
	width: 130px;
	}

table
	{
	margin: 10px 0px 0px 0px;
	width: 250px;
	}
	
tr
	{
	padding: 10px 0px 10px 0px;
	}
	
.left
	{		
	display: block;
	position: relative;
	margin: 30px;
	width: 290px;
	}
	
.right
	{
	display: block;
	position: relative;
	top: 0;
	}	

body 
	{
	background-image: url(image/back1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	}

.main
	{
	background: #DCDCDC;
	margin: 40px 15px 80px 25px;
	padding: 15px 0px 30px 30px;
	display: flex;
	}

.seans 
	{
	margin: 15px 0px 0px 100px;
	font-size: 25px;
	}
	
.seans tr > td
	{
	padding: 15px 30px 15px 30px;
	}
	
.seans a:hover
	{
	color: #DCDCDC;
	background: #8B008B;
	}		
	
.seans.active
	{
	display: block;
	}

.seans
	{
	display: none;
	}
	
.seans a
	{		
	border: 1px solid #8B008B;
	border-radius: 10px;
	padding: 5px;
	color: #8B008B;
	text-decoration: none;
	}